form {
  display: flex;
  flex-direction: column;
}

label {
  padding: 5px;
}

#message-password {
  font-size: small;
  margin-left: 45px;
}

#message-password p {
  font-size: small;
  margin: 0;
  padding: 0;
}

.valid-password-check {
  color: #aeffb6;
}

.invalid-password-check {
  color: #f58989;
}

.list-service {
  display: grid;
  border: 3px solid #f58989;
  padding: 5px;
}
